<footer class="bg-dark text-light pt-4 pb-3 mt-5">
  <div class="container">
    <div class="row gy-3">
      <div class="col-md-5">
        <h5 class="fw-bold"><i class="bi bi-basket2-fill"></i> FoodLink</h5>
        <p class="text-secondary mb-0">
          Smart Food Donation & Distribution Platform connecting generous donors
          with verified NGOs to fight hunger and reduce food waste.
        </p>
      </div>
      <div class="col-md-3">
        <h6 class="text-uppercase fw-semibold">Explore</h6>
        <ul class="list-unstyled">
          <li><a class="link-light text-decoration-none" href="/">Home</a></li>
          <li><a class="link-light text-decoration-none" href="/about">About</a></li>
          <li><a class="link-light text-decoration-none" href="/contact">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h6 class="text-uppercase fw-semibold">Join</h6>
        <ul class="list-unstyled">
          <li><a class="link-light text-decoration-none" href="/donor/register">Become a Donor</a></li>
          <li><a class="link-light text-decoration-none" href="/ngo/register">Register your NGO</a></li>
        </ul>
      </div>
    </div>
    <hr class="border-secondary" />
    <div class="text-center small text-secondary">
      &copy; <%= new Date().getFullYear() %> FoodLink. All rights reserved.
    </div>
  </div>
</footer>
