<% if (typeof errors !== 'undefined' && errors && errors.length) { %>
  <div class="alert alert-danger">
    <ul class="mb-0 ps-3">
      <% errors.forEach(function(e){ %>
        <li><%= e.msg %></li>
      <% }) %>
    </ul>
  </div>
<% } %>
